@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root{
    --raleway:"Raleway";
}

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

/* header */

}
.header>img{
    width: 100%;
}
.header{
    position: relative;

}
.menu{
    margin: 2vh;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0px;
    color:white;
    width: 100%;
    font-family: var(--raleway);
}
.logo{
    width: 100px;
}

/* Footer */
.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 2vh;
    background-color: #5e0618;
    color: white;
    font-family: var(--raleway);
    
}
.logo-rs{
    filter: invert(100%);
    height: 3vh;
   
}
.rs{
    display: flex;
    justify-content: space-around; 
    width: 25vw;
}
.infosfooter{
    display: flex;
    flex-direction: column;
}