@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root{
    --raleway:"Raleway";
}

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


/* header */

}
.header>img{
    width: 100%;
}
.header{
    position: relative;

}
.menu{
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    width: 100vw;
    font-family: var(--raleway);
}
.logo{
    width: 100px;
}
a{
    text-decoration: none;
    color: white;
}

/* Footer */
.footer{
    display: flex;
    padding: 2vh;
    justify-content: space-between;
    background-color: #5e0618;
    color: white;
    font-family: var(--raleway);
}
.rs{
    display: flex;
    justify-content: space-around; 
    width: 25vw;
}
.logo-rs{
    filter: invert(100%);
    height: 3vh;
}
.footer>.rs{
    display: flex;
    align-items: center;
}
.logofooter{
    height:15vh;
 }
.infosfooter{
    display: flex;
    flex-direction: column;
}